.section {
  width: 50%;
  padding: 0 20px;
}

.section__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #282c34;
}
